@model Kullanici
@{
    ViewBag.Title = "Kayıt";
    Layout = "~/Views/Shared/_AnaSablon.cshtml";
}
<style>
    .arkaplan {
        background-color: #f6f6f6;
    }

    .field-validation-error {
        background-color: #f37878;
        color: white;
        border-radius: 5px;
        padding: 4px;
    }
    .renk {
        background-color: #f37878;
        color: white;
    }   
    .area{
        height:100px;
    }
</style>
<section class="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-md-6" style="padding-top:2.5%">
                @if (TempData["Hata"] != null)
                {
                    <div class="alert alert-danger text-center renk">
                        @TempData["Hata"]
                    </div>
                }
                <div style="text-align:center">
                    <h3 class="typo-main-heading mb-lg-4 mb-3 pr-3 pb-1">Kayıt Ol</h3>
                </div>
                @using (Html.BeginForm("Kayit", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Tc:</label>
                            @Html.TextBoxFor(x => x.tc, new { @class = "form-control arkaplan" })
                            @Html.ValidationMessageFor(x => x.tc)
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Ad:</label>
                            @Html.TextBoxFor(x => x.ad, new { @class = "form-control arkaplan" })
                            @Html.ValidationMessageFor(x => x.ad)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Soyad:</label>
                            @Html.TextBoxFor(x => x.soyad, new { @class = "form-control arkaplan" })
                            @Html.ValidationMessageFor(x => x.soyad)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Email:</label>
                            @Html.TextBoxFor(x => x.email, new { @class = "form-control arkaplan" })
                            @Html.ValidationMessageFor(x => x.email)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Telefon Numarası:</label>
                            @Html.TextBoxFor(x => x.telefonNo, new { @class = "form-control arkaplan" })
                            @Html.ValidationMessageFor(x => x.telefonNo)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Adres:</label>
                            @Html.TextAreaFor(x => x.adres, new { @class = "form-control arkaplan area" })
                            @Html.ValidationMessageFor(x => x.adres)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Şifre:</label>
                            @Html.TextBoxFor(x => x.sifre, new { @class = "form-control arkaplan" })
                            @Html.ValidationMessageFor(x => x.sifre)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <label for="inputEmail4">Resim:</label>
                            <input type="file" class="form-control arkaplan" name="gelenResim">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                            <button type="submit" class="btn btn-block sent-butnn">KAYIT OL</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
